[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=strongDMI
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=strongDMI
Comment=.dmi file editing for Krita
